<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <title>Panda Informations</title>
</head>

<body>
    <div id="wrapper">
        <h1>Panda Information:</h1>
        <div id="contant2">
            <h3 style="color: gray;"> Name:<%= panda.name %></h3>  <hr>
            <h3 style="color: gray;"> Gender:<%= panda.gender %></h3>  <hr>
            <h3 style="color: gray;"> Age:<%= panda.age %></h3>  <hr>
            <h3 style="color: gray;"> Favorite Food:<%= panda.food %></h3>  <hr>
            <h3 style="color: gray;"> in Zoo since:<%= panda._id.getTimestamp().toLocaleDateString() %></h3>
            <button onclick="window.location.href='/pandas/edit/<%= panda._id %>'" class="btn">Edit Panda Profile</button><br><br>
            <form action="/pandas/destroy/<%= panda._id %>" method="POST">
                <button  class="btn">Delete Panda</button>

            </form>
        </div>
    </div>
</body>

</html>